<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/style.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>Site Was Created By <b>Sujit Sambhaji Khopade</b>, Currently Studying in<h5><u>Pune Institute Of Computer Technology(PICT), Pune.</u></h5></p>
            <img class="portrait" src="./img/robot.png">
        </div>
        {{>footer}}
    </body>
</html> 